<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1" >
    <test name="Test1">
        <classes>
            <class name="com.example.beaportal.MainPageTest">
                <methods>
                    <exclude name="regressionflight"/>
                    <exclude name="regressionrole"/>
                    <exclude name="regressiondash"/>
                    <exclude name="regressionAllRoles"/>
                    <exclude name="regressionDeleteUser"/>
                    <exclude name="editTest"/>
                    <exclude name="creatingNewUser"/>
                    <include name="allUsresSearch"/>

                </methods>
            </class>
        </classes>
    </test>
<!--    <test name="Test2">-->
<!--        <classes>-->
<!--            <class name="com.example.beaportal.MainPageTest">-->
<!--                <methods>-->
<!--                    <exclude name="regressionflight"/>-->
<!--                    <include name="regressionrole"/>-->
<!--                    <include name="regressiondash"/>-->
<!--                    <include name="regressionAllRoles"/>-->
<!--                    <include name="regressionDeleteUser"/>-->
<!--                    <exclude name="editTest"/>-->
<!--                    <include name="creatingNewUser"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Test3">-->
<!--    <classes>-->
<!--        <class name="com.example.beaportal.MainPageTest">-->
<!--            <methods>-->
<!--                <exclude name="regressionflight"/>-->
<!--                <include name="regressionrole"/>-->
<!--                <include name="regressiondash"/>-->
<!--                <include name="regressionAllRoles"/>-->
<!--                <include name="regressionDeleteUser"/>-->
<!--                <exclude name="editTest"/>-->
<!--                <include name="creatingNewUser"/>-->
<!--            </methods>-->
<!--        </class>-->
<!--    </classes>-->
<!--</test>-->

</suite>