<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1" >
    <test name="Test1">
        <classes>
<!--            <class name="com.example.beaportal.MainPageTest">-->
<!--                <methods>-->
<!--                    <exclude name="regressionflight"/>-->
<!--                    <exclude name="regressionrole"/>-->
<!--                    <exclude name="regressiondash"/>-->
<!--                    <exclude name="regressionAllRoles"/>-->
<!--                    <exclude name="regressionDeleteUser"/>-->
<!--                    <exclude name="editTest"/>-->
<!--                    <include name="creatingNewUser"/>-->
<!--                    <exclude name="allUsresSearch"/>-->
<!--                    <exclude name="agenciesCreatePage"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="pages.BEpages.BEpagesTests">
                <methods>
                    <exclude name="regressiondash"/>
                </methods>
            </class>
            <class name="pages.Roles.RolesTests">
                <methods>
                    <exclude name="regressionrole"/>
                    <exclude name="regressionAllRoles"/>
                    <exclude name="regressionDeleteUser"/>

<!--                    <include name="regressionrole"/>-->
<!--                    <include name="regressionAllRoles"/>-->
<!--                    <include name="regressionDeleteUser"/>-->
                </methods>
            </class>
            <class name="pages.Users.UsersTests">
                <methods>
                    <exclude name="creatingNewUser"/>
                    <exclude name="allUsresSearch"/>
<!--                    <include name="creatingNewUser"/>-->
<!--                    <include name="allUsresSearch"/>-->
                </methods>
            </class>
            <class name="pages.Agencies.AgenciesTests">
                <methods>
                    <exclude name="agenciesCreatePage"/>
<!--                    <include name="agenciesCreatePage"/>-->
                    <include name="allAgenciesPage"/>
                </methods>
            </class>
        </classes>
    </test>



</suite>